@using Microsoft.FluentUI.AspNetCore.Components

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css"]" />
    <link rel="stylesheet" href="@Assets["_content/Microsoft.FluentUI.AspNetCore.Components/css/dark-theme.css"]" />
    <link rel="stylesheet" href="@Assets["fluent-dashboard.css"]" />
    <link rel="stylesheet" href="@Assets["MySpeaker.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <FluentDesignSystemProvider Style="min-height: 100vh;">
        <FluentDesignTheme Mode="DesignThemeModes.Dark">
            <Routes />
            <ReconnectModal />
        </FluentDesignTheme>
    </FluentDesignSystemProvider>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
